.map-container {

    position: fixed;
    width: 100%;
    height: 100%;

    .gmaps {
        height: 100%;
    }

    .btn-direction {
        position: fixed;
        right: 60px;
        bottom: 20px;
        .preloader-wrapper {
            margin-top: 10px;
        }
    }


    .btn-remove-start-direction {
        position: fixed;
        right: 120px;
        bottom: 20px;
        .preloader-wrapper {
            margin-top: 10px;
        }
    }

    .restaurant-loader {
        position: fixed;
        right: 60px;
        top: 20px;
    }

}