<ul id="side-mobile" class="sidenav z-depth-2 sidenav-fixed" style="transform: translateX(0px);">
    <li class="logo">
        <a id="logo-container" href="/" class="brand-logo row">
            <div class="col s3">
                <img :src="logo">
            </div>
            <div class="col s9 ">
                <h5> 
                    Restaurant  
                </h5> 
                <h5> 
                    Finder
                </h5> 
            </div>
             
        </a>
    </li>
    <!-- <li class="search">
        <div class="row">
            <div class="col s12">
                    <SearchBar></SearchBar>
            </div>
        </div>
    </li> -->
    <li class="row">
        <h6 class="col s12">Restaurants</h6>
    </li>
    <li>
        <div  class='resturant-list' v-if='!isLoading'>
            <ul>
                <li class="bold" v-for="restaurant in restaurants">
                    <a @click='showRestaurantInfo(restaurant)' class="waves-effect waves-teal">
                        <span class="material-icons">place</span>
                        {{restaurant.name}}
                    </a>
                </li>
            </ul>
        </div>
        <Preloader v-if="isLoading"></Preloader>
    </li>
    <li class="filter-container">
        <h6 class='row'>
            <span class="col s6">Filters
                <div v-show="showReset" @click="resetFilters"><a href='#!'><small>Reset</small></a></div>
            </span>
            <span class="col s6">
                Shown: {{restaurants.filter(r => r.marker.visible === true).length}}
            </span>
        </h6>
        <div class="chips-container" v-if="!isLoading">
            <Chip v-for="type in Object.keys(filterTypes)" 
                :type="type"
                :key=type 
                v-on:chip:toggled="toggleFilter"></Chip>
        </div>
        <Preloader v-if="isLoading"></Preloader>
    </li>
    
</ul>